body, html {
    font-family: 'Raleway', sans-serif;
}

#current-conditions {
    border-style: dotted;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
}

#five-day-forecast {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.forecast {
    overflow-x: scroll;
}

#error-message {
    color: red;
}

.city-btn {
    text-transform: capitalize;
}
