body, html {
    font-family: 'Raleway', sans-serif;
}

#current-conditions {
    border-style: dotted;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
}

.low {
    background-color: lime;
    color: white;
}

.medium {
    background-color: yellow;
    color: black;
}

.high {
    background-color: red;
    color: white;
}